@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

body {
  background-color: #282828;
}

h1 {
  color: #ffffff;
  font-family: 'Asap', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 100px;
  overflow: auto;
  text-align: center;
  font-size: 42px;
}

h3 {
  color: #ffffff;
  font-family: 'Asap', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: auto;
  text-align: center;
  font-size: 25px;
}

.green {
  color: #66ff66;
}
